<div class="dettaglio-studente">
	<div>
		<h2>Nominativo</h2>
		<p>[NOME] [COGNOME]</p>
		<h3>Data di nascita</h3>
		<p>[DATADINASCITA]</p>
		<h3>Classe</h3>
		<p>[CLASSE] [SEZIONE]</p>
		<hr>
		<h3>Voti</h3>
		<table id="voti">
			<thead>
				<tr>
					<th>Materia</th>
					<th>Punteggio</th>
					<th>Opzioni</th>
				</tr>
			</thead>
			<tbody>
				<!-- voti -->
			</tbody>
		</table>
	</div>
	<div>
		<form action="Index" method="POST">
			<input type="hidden" name="cmd" value="addvoto"> 
			<input type="hidden" name="idstudente" value="[ID]">
			<input type="text" placeholder="Materia" name="materia">
			<input type="number" placeholder="Punteggio" name="punteggio">
			<input type="submit" value="Aggiungi">
		</form>
	</div>
</div>