<form action="Index" method="POST">
	<input type="hidden" name="cmd" value="editstudente">
	<input type="hidden" name="id" value="[ID]">
	<input type="text" name="nome" placeholder="Nome" value="[NOME]">
	<input type="text" name="cognome" placeholder="Cognome" value="[COGNOME]">
	<input type="date" name="datadinascita" placeholder="Data di nascita" value="[DATADINASCITA]">
	<input type="number" name="classe" placeholder="Classe" value="[CLASSE]">
	<input type="text" name="sezione" placeholder="Sezione" value="[SEZIONE]">
	<input type="submit" value="Modifica Studente">
</form>